.phrasesBox{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    place-items: center;
    width: min(100%, 400px);
    margin:  0 auto ;
    padding: 20px 10px;
}

.container{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap: 2rem;
}

.btn{
    width: 200px;
    padding: 10px;
    font-size: 20px;
    
    font-weight: 400;
    text-decoration: none;
    background-color: antiquewhite;
    border: 2px solid ;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}
.btn:hover {
    color:lightcoral;
}

.container--phrase{
    background-color: aliceblue;
    min-width: 300px;

    border-radius: 1rem;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);
    padding: 10px;
}




.h4-footer{
    background-color: antiquewhite;

    padding: 10px;
    border-radius: 1rem;
    opacity: 70%;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);
}
.h4-footer:hover{
    color: lightcoral;
}
